<div class="col s8 m8 l9 card-panel red lighten-2">
  <div>
    <h3 class="center-align "><%= company %></h3>
    <h4 class="center-align" ><%= @job.title %> </h4>
    <p class="center-align text-flow"><%= @job.job_description %> </p>
  </div>
</div>
