        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">About:</h5>
                <p class="grey-text text-lighten-4">This site is designed to help Turing Students learn from past interviews at companies.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Created by:</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/xvalentino">Tino Espinosa</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/mirjoy">Miriam Moser</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/paulgrever">Paul Grever</a>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Copyright Turing Students LLC
            <a class="grey-text text-lighten-4 right" href="https://socialteering.herokuapp.com/">More Links</a>
            </div>
          </div>
        </footer>