<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Glass Basement</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

    <% if current_user %>
      <ul class="right hide-on-med-and-down">
        <li><a href="/logout">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/logout">Logout</a></li>
      </ul>
    <% else %>
      <ul class="right hide-on-med-and-down" id="main-nav-login">
        <li><a href="/auth/github">Login</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo side-nav-login">
        <li><a href="/auth/github">Login</a></li>
      </ul>
    <% end %>

  </div>
</nav>

