<div class="col s4 m4 l3 card-panel teal lighten-2">
  <h4>Regions:</h4>
  <ul class="collapsible" data-collapsible="accordion">
    <% regions.each do |region| %>
      <li> 
        <div class="collapsible-header"><%= region.place %></div>
          <% region.companies.each do |company|  %>
            <div class="collapsible-body">
              <p><%=company.name  %></p>
            </div>
          <% end %>
      </li>
    <% end %>
  </ul>
</div>
