<div class="col s4 m4 l3 card-panel blue-grey lighten-4 sidebar">
  <h5>Regions:</h5>
  <ul class="collapsible" data-collapsible="accordion">
    <% regions.each do |region| %>
      <li> 
        <div class="collapsible-header center-align">
          <strong><%= region.place %></strong>
        </div>
        <% region.companies.each do |company|  %>
          <div class="collapsible-body center-align">
            <h5 class=" blue-grey-text darken-2-text"><%= company.name %></h5>
              <% company.jobs.each do |job| %>
                <%= link_to(job.title, job_path(job), class:"amber btn-flat ") %>
              <% end %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="bottom">
      <a class="btn-floating btn-large waves-effect waves-light modal-trigger amber new-job" id="plus-button" href="#modal1"><i class="mdi-content-add"></i>Plus</a>
  </div>
</div>
<%= render "partials/modal1" %>

          
