<div class="col s4 m4 l3 card-panel teal lighten-2">
  <h5>Regions:</h5>
  <ul class="collapsible" data-collapsible="accordion">
    <% regions.each do |region| %>
      <li> 
        <div class="collapsible-header center-align">
          <strong><%= region.place %></strong>
        </div>
        <% region.companies.each do |company|  %>
          <div class="collapsible-body center-align">
            <h5 class="amber-text accent-2"><%= company.name %></h5>
              <% company.jobs.each do |job| %>
                <%= link_to(job.title, job_path(job), class:"red btn-flat") %>
              <% end %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
