@import "materialize/components/color";
$primary-color: #455a64 !default;
@import "materialize";

$button-back: #FFC107;

.wrapper {
  min-height: 70vh;
}

body {
  background-color: #B6B6B6;
}

.small {
  font-size: 8px;
  color: #ffffff;
}

.body-back {
  background-color: #ffffff;
} 

.main-section {
  padding-bottom: 1px;
  height: 65vh;
  overflow: scroll;
}
.main-section2 {
  padding-bottom: 1px;
  height: 53vh;
  overflow: scroll;
}

.interview-button {
  width: 100%;
}
.button-back {
  background-color: $button-back;
}
footer {
  height:100%;
  width: 100%;
  margin-top: 0;
}

.brand-logo {
  margin-left: 10px;
}

.hero-unit {
  margin-top: 1vh;
  background-image: image-url("pairing.png");
  background-size: cover;
  height: 87vh;
  z-index: -1;
}

.page-footer {
  margin-top: 0 !important;
}

.sidebar {
  height: 87vh;
  overflow: scroll;
}

.padder {
  padding-top: 5vh;
}

.main-image {
  padding-top: 12vh
}

.new-job {
  margin-bottom: 10px;
}


.main {
  @extend .text-lighten-4, .yellow-text;
}

.bottom {
  float: right;
  top: 250px;
}

.row {
  margin-bottom: 0;
}